

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
       background-image: url(background.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Lato', sans-serif;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
 
.fel{
    background-color: azure;
}
footer{
  background-color: #555;
  height: 10%;
  width: 100%;
  text-align: center;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
.aut{
  background-color: burlywood;
  width: 50%;
  text-align: center;
  margin: 0% 0% 0% 25%;
}
.pit{
  float: right;
}
.eg{
  float: right;
}
#feher{
  color: white;
}
table,td,tr{
  color: white;
}
#leadas{
  margin: 1%;
}
.ege{
  background-color: #04aa6d86;
  width: fit-content;
  float: right;
}
